/*************************************************
 *  Footer
 **************************************************/
.site-footer,
footer a#back_to_top i {
  color: #b00b0b;
}

/*************************************************
 *  Button Primary: Color Override
 **************************************************/

 .btn-primary {
  border-color: {{ .Get "primary" }} !important;
  background: {{ .Get "primary" }} !important;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited,
.open > .dropdown-toggle.btn-primary {
  background: {{ .Get "primary" }} !important;
}

.btn-light {
  border-color: #fff !important;
  background: #fff !important;
}

.btn-light:hover,
.btn-light:active,
.btn-light.active {
  background: rgba(0,0,0,0.4) !important;
}


 /*************************************************
 *  Button Outlines
 **************************************************/

.btn-outline {
    background-color: transparent !important;
    color: inherit;
    transition: all .5s;
  }
  
  .btn-primary.btn-outline {
    color: {{ .Get "primary" }} !important;
    border-color: {{ .Get "primary" }} !important;
  }
  
  .btn-primary.btn-outline:focus {
    color: {{ .Get "primary" }} !important;
  }
  
  .btn-primary.btn-outline:active {
    /* color: #fff !important; */
    color: #fff !important;
  }
  
  .btn-light.btn-outline {
    color: #fff !important;
    border-color: #fff !important;
  }
  
  .btn-light.btn-outline:focus {
    color: #fff !important;
  }
  
  .btn-light.btn-outline:active {
    color: transparent !important;
  }
  
  .btn-success.btn-outline {
    color: #5cb85c;
  }
  
  .btn-info.btn-outline {
    color: #5bc0de;
  }
  
  .btn-warning.btn-outline {
    color: #f0ad4e;
  }
  
  .btn-danger.btn-outline {
    color: #d9534f;
  }
  
  /* we might want a different color scheme  here ... */
  .btn-primary.btn-outline:hover,
  .btn-light.btn-outline:hover,
  .btn-success.btn-outline:hover,
  .btn-info.btn-outline:hover,
  .btn-warning.btn-outline:hover,
  .btn-danger.btn-outline:hover {
    color: #fff !important;  
    background: rgba(0,0,0,0.1) !important; 
  }

  
  